<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/style.css">
        <script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "container">
            <div class = "top">
                {% include "components/site-header.twig" %}
                {% include "components/site-nav.twig" %}
                {% include "auth-template.twig" %}
            </div>
        </div>

        <div class = "container">
            <div class = "main">
                {% include content_template_name %}
                {% include "components/site-sidebar.twig" %}
            </div>
        </div>

        {% include "components/site-footer.twig" %}

        <script>
            function deleteUser(userId) {
                $.ajax({
                    method: 'POST',
                    url: "/user/delete/",
                    data: { user_id: userId}
                });
                document.querySelector(`#user${userId}`).remove();
            }
        </script>
    </body>
</html>